/* PROJECTS SECTION CSS */
.projects-section {
    background-color: #1b2a4b;
    color: white;
    padding: 80px 100px;
    min-height: 90vh;
    text-align: center;
}

.sub-title {
    font-size: 1.8rem;
    color: white;
    margin: 0 auto;
    width: 150px;
    font-weight: 600;
    text-align: center;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 30px;
}

.project-card {
    background: #243a66;
    padding: 30px 30px;
    border-radius: 16px;
    width: 320px;
    height: 260px;
    text-align: left;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

.project-card h4 {
    font-size: 1.5rem;
    color: #7cb8ff;
    margin-bottom: 8px;
    margin-top: 8px;
}

.project-card h5 {
    font-size: 1rem;
    color: #a8c6ff;
    margin-bottom: 12px;
    margin: 5px;
}

.project-card p {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #e0e6f6;
}

/* CERTIFICATIONS SECTION CSS */
.certifications-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;

    margin: 30px;
}

.cert-card {
    margin-top: 1px;
    background: #243a66;
    padding: 20px 25px;
    border-radius: 16px;
    width: 320px;
    height: 130px;
    text-align: left;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cert-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

.cert-card h4 {
    font-size: 1.5rem;
    color: #7cb8ff;
    margin-bottom: 8px;
    margin-top: 8px;
}

.cert-card p {
    font-size: 0.95rem;
    line-height: 2;
    color: #e0e6f6;
}

@media (max-width: 768px) {
    .projects-section {
        padding: 60px 40px;
    }

    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .cert-container {
        flex-direction: column;
        align-items: center;
    }

    .cert-card {
        width: 90%;
    }
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
    margin-top: 1px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 1px;
}